{% for article in obj %}
    <div class="post feature-post">
        <div class="entry-header">
            <div class="entry-thumbnail">
                <img class="img-fluid lazy"  style="min-height:300px; max-height:305px; min-width:100%;" src="static/images/ico/placeholder.jpg" data-src="{{ article.image.url }}" alt="Content Image" />
            </div>
            <div class="catagory world"><a href="#">{{ article.category_ref}}</a></div>
        </div>
        <div class="post-content">
            <div class="entry-meta">
                <ul class="list-inline">
                    <li class="publish-date"><i class="fa fa-clock-o"></i><a href="#">{{ article.created_on}}</a></li>
                    <li class="views"><i class="fa fa-eye"></i><a href="#">{{ article.viewcount }}</a></li>
                    <li class="loves"><i class="fa fa-heart-o"></i><a  href="like({{ article.id }})">{{ article.likecount }}</a></li>
                </ul>
            </div>
            <h2 class="entry-title" style="font-weight:500;">
                <a href="{{ article.get_absolute_url }}">{{ article.title }}</a>
            </h2>
        </div>
    </div><!--/post-->
{% endfor %}
