{% extends 'base_sample.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
		<div class="container">
			<div class="page-breadcrumbs">
				<h1 class="section-title title">About Us</h1>
			</div>
			<div class="about-us welcome-section">
				<div class="row">
					<div class="col-lg-6 content-section">
						<div class="about-us-content">
							<h2>Our Core Values</h2>
							<p>We are bold ; We are rebellious ; We have a competitive spirit that drives us to be first and best ; We earn trust by behaving with integrity ; We are pioneers and innovators;  We celebrate success together ;  We put people at the center of everything.</p>
							<p>Hipsterblog provides News to people who want clarity and truth about stories in an uncertain world. We brings you to the heart of the stories that shape our world.</p>
						</div>
					</div>
					<div class="col-lg-6 image-section">
						<div class="about-us-image">
							<img class="img-fluid" src="{% static 'images/others/aboutus.jpg' %}" alt="" />
						</div>
					</div>
				</div>
			</div>
			<div class="about-us">
				<div class="row">
					<div class="col-md-4">
						<div class="about-us-content">
							<h2>Unnamed sources</h2>
							<p>Hipsterblog News considers requests for anonymity very carefully. We always encourage sources by including their name, organization in our daily News. But we may withhold the name of a source if there is a risk that they could be put in either legal or physical danger upon publication. When that is the case we should always seek to explain to our users why they are unnamed.</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="about-us-content">
							<h2>Our Approach</h2>
							<p>We report on a broad range of stories in the NIGERIA and around the world, putting people at the center of our storytelling. We believe that our reputation as a news organisation is our most valuable asset, so it is vital that our journalism is always of the highest quality.</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="about-us-content">
							<h2>Methodology</h2>
							<p>Journalism in the Hipsterblog has never been under greater scrutiny, and that's why every journalist working for Hipsterblog site News must understand the legal and regulatory framework in which we operate and our own in-house guidelines and practices.</p>
						</div>
					</div>
				</div>
			</div>
			<!--<div class="our-team">
				<h1 class="section-title title">NewsPress Team</h1>
				<div class="team-members">
					<div class="row">
						<div class="col-sm-6 col-md-4 col-lg-2">
							<div class="single-member">
								<div class="member-image">
									<div class="overlay">
										<ul class="list-inline social-icons">
											<li><a href="#"><i class="fa fa-facebook"></i></a></li>
											<li><a href="#"><i class="fa fa-twitter"></i></a></li>
											<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
											<li><a href="#"><i class="fa fa-youtube"></i></a></li>
										</ul>
									</div>
									<img class="img-fluid" src="{% static 'images/others/member3.jpg' %}" alt="worker"/>
								</div>
								<h3>Julie MacKay</h3>
							</div>
						</div>
						<div class="col-sm-6 col-md-4 col-lg-2">
							<div class="single-member">
								<div class="member-image">
									<div class="overlay">
										<ul class="list-inline social-icons">
											<li><a href="#"><i class="fa fa-facebook"></i></a></li>
											<li><a href="#"><i class="fa fa-twitter"></i></a></li>
											<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
											<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
										</ul>
									</div>
									<img class="img-fluid" src="{% static 'images/others/member5.jpg' %}" alt="" />
								</div>
								<h3>Loren Heiman</h3>
							</div>
						</div>
						<div class="col-sm-6 col-md-4 col-lg-2">
							<div class="single-member">
								<div class="member-image">
									<div class="overlay">
										<ul class="list-inline social-icons">
											<li><a href="#"><i class="fa fa-facebook"></i></a></li>
											<li><a href="#"><i class="fa fa-twitter"></i></a></li>
											<li><a href="#"><i class="fa fa-youtube"></i></a></li>
											<li><a href="#"><i class="fa fa-pinterest"></i></a></li>
										</ul>
									</div>
									<img class="img-fluid" src="{% static 'images/others/member7.jpg' %}" alt="" />
								</div>
								<h3>Christine Marqu</h3>
							</div>
						</div>
						<div class="col-sm-6 col-md-4 col-lg-2">
							<div class="single-member">
								<div class="member-image">
									<div class="overlay">
										<ul class="list-inline social-icons">
											<li><a href="#"><i class="fa fa-facebook"></i></a></li>
											<li><a href="#"><i class="fa fa-twitter"></i></a></li>
											<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
											<li><a href="#"><i class="fa fa-pinterest"></i></a></li>
										</ul>
									</div>
									<img class="img-fluid" src="{% static 'images/others/member8.jpg' %}" alt="" />
								</div>
								<h3>Alex Posey</h3>
							</div>
						</div>
						<div class="col-sm-6 col-md-4 col-lg-2">
							<div class="single-member">
								<div class="member-image">
									<div class="overlay">
										<ul class="list-inline social-icons">
											<li><a href="#"><i class="fa fa-facebook"></i></a></li>
											<li><a href="#"><i class="fa fa-twitter"></i></a></li>
											<li><a href="#"><i class="fa fa-youtube"></i></a></li>
											<li><a href="#"><i class="fa fa-pinterest"></i></a></li>
										</ul>
									</div>
									<img class="img-fluid" src="{% static 'images/others/member10.jpg' %}" alt="" />
								</div>
								<h3>Eli Amesefe</h3>
							</div>
						</div>
						<div class="col-sm-6 col-md-4 col-lg-2">
							<div class="single-member">
								<div class="member-image">
									<div class="overlay">
										<ul class="list-inline social-icons">
											<li><a href="#"><i class="fa fa-facebook"></i></a></li>
											<li><a href="#"><i class="fa fa-twitter"></i></a></li>
											<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
											<li><a href="#"><i class="fa fa-youtube"></i></a></li>
										</ul>
									</div>
									<img class="img-fluid" src="{% static 'images/others/member11.jpg' %}" alt="" />
								</div>
								<h3>Andrei Patru</h3>
							</div>
						</div>
					</div>
				</div>
			</div>-->
			<div class="testimonials">
				<div id="testimonial" class="carousel carousel-fade slide" data-ride="carousel">
					<div class="carousel-inner">
						<div class="item carousel-item active">
							<img class="img-fluid img-circle" src="{% static 'images/others/martins.JPG' %}" alt="" />
							<h3>Temitope Martins<span>CEO/Developer, Hipterblog</span></h3>
							<h4>“Wow!! It's with Pleasure to serve you better . We are proud in what we do.”</h4>
						</div>
						<!--<div class="item carousel-item">
							<img class="img-fluid img-circle" src="{% static 'images/others/member5.jpg' %}" alt="" />
							<h3>Adenitire Ayomide <span>Co-Developer, Leo Inc</span></h3>
							<h4>“Wow!! It's really awesome. Nice and Clean design.It's really impressive. I am really appreciate your project.”</h4>
						</div>-->
					</div>
				</div>
			</div><!-- testimonial -->
		</div><!--/.container-->
	</div><!--/#main-wrapper-->
{% endblock %}
