{% extends 'base_sample.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
  <div class="container">
			<div class="page-breadcrumbs">
				<h1 class="section-title title">Advertisement</h1>
			</div>
			<div class="about-us welcome-section">
				<div class="row">
					<div class="col-lg-6 content-section">
						<div class="about-us-content">
							<h2>Advertise with Us</h2>
							<p>We invite you to join our Advert family by advertising your organisation/product in Hipsterblog News (hipsterblog.com.ng) </p>
							<p>Hipsterblog News is a superior online news media that is Developed to provide exclusive grassroot information in Nigeria and around the World. It's packed with local, national and international headlines. </p>
                            <p>To make further advert enquires or place an order, please contact us at</p>
                            <p>Phone: +23481-000-67764 | +23480-736-87258</p>
                            <p>Email: ogunmakinjumartins@gmail.com</p>
                        </div>
					</div>
					<div class="col-lg-6 image-section">
						<div class="about-us-image">
							<img class="img-fluid"  style="max-height:400px; min-width:100%;" src="{% static 'images/others/advert.jpg' %}" alt="" />
						</div>
					</div>
				</div>
			</div>
                    <!--<div class="about-us">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="about-us-content">
                                    <h2>Website Availability</h2>
                                    <p>The Website is made available free of charge. You are responsible for making all arrangements necessary for you to have access to the Website and we make no guarantee that the Website or any content displayed on the Website will always be uninterrupted or error free, or that it will be secure or free from bugs or viruses. We reserve the right to suspend or withdraw the whole or any part of the Website at any time without notice and without incurring any liability.</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="about-us-content">
                                    <h2> Ownership of Materials and Licence Terms</h2>
                                    <p>We are the owner or licensee of the Website and all content displayed on it and/or made available through our Newsletter services are protected by copyright and other intellectual property rights and laws throughout the world. Subject to these Terms of Use, you are permitted use any materials or content on these website as a reference, but not for any commercial.</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="about-us-content">
                                    <h2> User Content</h2>
                                    <p>If you make any comments on this website or send suggestions or materials to use or concerning the Website, our email services, you are granting to us a perpetual, royalty-free, non-exclusive, and irrevocable right and licence to use, reproduce, prepare derivative works based upon, distribute, perform or display such User Content, in whole or in part, in any form, media or technology known or hereafter developed; and you warrant that you have obtained all necessary licences and/or approvals in order to allow us to use.</p>
                                </div>
                            </div>
                        </div>
                    </div>-->
        </div><!--/.container-->
	</div><!--/#main-wrapper-->
{% endblock %}