{% extends 'base_sample.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
			<div class="page-breadcrumbs">
				<h1 class="section-title title">Newsletter</h1>
			</div>
    <form method="POST"> {% csrf_token %}
        {{ form| crispy }}
        <button type="submit" name="subscribe" id="subscribe" >Save</button>
    </form>

</div>
{% endblock %}