{% extends 'base_sample.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
		<div class="container">
			<div class="page-breadcrumbs">

			</div>
			<div class="row">
				<div class="col-md-8 col-lg-9 tr-sticky">
					<div class="contact-us theiaStickySidebar">

						<div class="contact-info">
							<h1 class="section-title title">Contact Information</h1>
							<ul class="list-inline">
								<!--<li>
									<h2>Head Office</h2>
									<address>
										23-45A, Silictown <br>Great Country
										<p class="contact-mail"><strong>Email:</strong> <a href="#">hello@newspress.com</a></p>
										<p><strong>Call:</strong> +123 123 456 789</p>
									</address>
								</li>-->
								<li>
								   <h2>Office | PortHarcourt</h2>
									<address>
										2 Divine Estate, Oyigbo <br>River State, Nigeria
										<p class="contact-mail"><strong>Email:</strong> <a href="#">info@usa-newspress.com</a></p>
										<p><strong>Call:</strong> +23481 000 67764 | +23480 736 87258</p>
									</address>
								</li>
								<!--<li>
								   <h2>UK Office</h2>
									<address>
										123, Pall Mall,<br> London England
										<p class="contact-mail"><strong>Email:</strong> <a href="#">info@uk-newspress.com</a></p>
										<p><strong>Call:</strong> +123 123 456 789</p>
									</address>
								</li>-->
							</ul>
						</div>
						<div class="message-box">
							<h1 class="section-title title">Drop Your Message</h1>
							<form id="comment-form" name="comment-form" method="post">
								<div class="row">
									<div class="col-sm-4">
										<div class="form-group">
											<label for="name">Name</label>
											<input type="text" name="name" class="form-control" required="required">
										</div>
									</div>
									<div class="col-sm-4">
										<div class="form-group">
											<label for="email">Email</label>
											<input type="email" name="email" class="form-control" required="required">
										</div>
									</div>
									<div class="col-sm-4">
										<div class="form-group">
											<label for="subject">Subject</label>
											<input type="subject" name="subject" class="form-control">
										</div>
									</div>
									<div class="col-sm-12">
										<div class="form-group">
											<label for="comment" >Your Text</label>
											<textarea name="comment" id="comment" required="required" class="form-control" rows="5"></textarea>
										</div>
										<div class="text-right">
											<button type="submit" class="btn btn-primary">Send </button>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div><!-- contact-us -->
				</div>
				<div class="col-md-4 col-lg-3 tr-sticky">
					<div id="sitebar" class="theiaStickySidebar">
						<div class="widget follow-us">
							<ul class="list-inline social-icons">
								<div class="sharethis-inline-follow-buttons"></div>
							</ul>
						</div><!--/#widget-->

						<div class="widget">
							<h1 class="section-title title">Recent Post</h1>
							<ul class="post-list">
								 {% for article in articles %}
								<li>
									<div class="post small-post">
										<div class="entry-header">
											<div class="entry-thumbnail">
												<img class="img-fluid" src="{{ article.image.url }}" alt="" />
											</div>
										</div>
										<div class="post-content">
											<div class="video-catagory"><a href="#">{{ article.category_ref }}</a></div>
											<h2 class="entry-title">
												<a href="{{ article.get_absolute_url }}">{{ article.title }}</a>
											</h2>
										</div>
									</div><!--/post-->
								</li>
								{% endfor %}
							</ul>
						</div><!--/#widget-->

					</div><!--/#sitebar-->
				</div>
			</div><!-- row -->
		</div><!--/.container-->
	</div><!--/#main-wrapper-->
{% endblock %}