<!DOCTYPE html>
{% load static %}
{% load static from staticfiles %}
{% load crispy_forms_tags %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">

    <!--title-->
    <title>The Latest News from Nigeria & Around the World </title>

	<!--CSS-->
   <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/magnific-popup.css' %}" rel="stylesheet">
    <link href="{% static 'css/owl.carousel.css' %}" rel="stylesheet">
    <link href="{% static 'css/subscribe-better.css' %}" rel="stylesheet">
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
    <link id="preset" rel="stylesheet" type="text/css" href="{% static 'css/presets/preset1.css' %}">
    <link href="{% static 'css/responsive.css' %}" rel="stylesheet">

	<!--Google Fonts-->
	<link href="https://fonts.googleapis.com/css?family=Signika+Negative:400,300,600,700" rel="stylesheet" type="text/css">

    <!--[if lt IE 9]>
	    <script src="js/html5shiv.js"></script>
	    <script src="js/respond.min.js"></script>
    <![endif]-->
     <link rel="shortcut icon" href="{% static 'images/ico/favicon.ico' %}">
    <link rel="apple-touch-icon-precomposed" sizes="144x144"
          href="{% static 'images/ico/apple-touch-icon-144-precomposed.png' %}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114"
          href="{% static 'images/ico/apple-touch-icon-114-precomposed.png' %}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72"
          href="{% static 'images/ico/apple-touch-icon-72-precomposed.png' %}">
    <link rel="apple-touch-icon-precomposed" href="{% static 'images/ico/apple-touch-icon-57-precomposed.png' %}">
</head><!--/head-->

<body>
	<div id="main-wrapper" class="homepage">
		<header id="navigation">
			<div class="navbar navbar-expand-lg" role="banner">
				<div class="container">
					  <a class="secondary-logo" href="{% url 'articles:home' %}">
                         <img class="img-fluid" src="{% static 'images/presets/preset1/logo.png' %}" alt="logo">
                      </a>
				</div>
				<div class="topbar">
					<div class="container">
						<div id="topbar" class="navbar-header">
							  <a class="navbar-brand" href="{% url 'articles:home' %}">
                                     <img class="main-logo img-fluid" src="{% static 'images/presets/preset1/logo.png' %}"
                                                        alt="logo">
                              </a>
							<div id="topbar-right">
								<!--<div class="dropdown language-dropdown">
									<a data-toggle="dropdown" href="#"><span class="change-text">En</span> <i class="fa fa-angle-down"></i></a>
									<ul class="dropdown-menu language-change">
										<li><a href="#">EN</a></li>
										<li><a href="#">FR</a></li>
										<li><a href="#">GR</a></li>
										<li><a href="#">ES</a></li>
									</ul>
								</div>-->
								<div id="date-time"></div>
								<div id="weather">
									<span class="weather-icon">
							      		<img src="http://openweathermap.org/img/w/{{ city_weather.icon }}.png" alt="Icon" class="img-fluid">
									</span>
							      	<span class="temp">{{ city_weather.city}}</span>
							      	<span class="temp">{{ city_weather.temperature}}°F</span>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div id="menubar" class="container">
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainmenu" aria-controls="mainmenu" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"><i class="fa fa-align-justify"></i></span>
					</button>
					<a class="navbar-brand d-lg-none" href="{% url 'articles:home' %}">
                        <img class="main-logo img-fluid" src="{% static 'images/presets/preset1/logo.png' %}" alt="logo">
                    </a>
					<nav id="mainmenu" class="navbar-left collapse navbar-collapse">
						 <ul class="nav navbar-nav">
                                 <li class="home dropdown"><a href="{% url 'articles:home' %}" >Home</a></li>
                                {% if categories %}
                                    {% for cat in categories %}
                                        <li class="lifestyle"> <a href="{% url 'articles:list' cat.name %}">{{ cat.name |capfirst  }}</a></li>
                                {% endfor %}
                                {% endif %}
                                <li class="more dropdown"><a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">Pages +</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{% url 'articles:about' %}">About Us </a></li>
                                        <li><a href="{% url 'articles:terms' %}">Terms of Use </a></li>
                                        <li><a href="{% url 'articles:contact_us' %}">Contact Us </a></li>
                                        <li><a href="{% url 'articles:advert' %}">Advertisement </a></li>
                                    </ul>
                                </li>
                         </ul>
					</nav>
                </div>
			</div>
		</header><!--/#navigation-->
        {% block content %}

        {% endblock %}

	</div><!--/#main-wrapper-->

<footer id="footer">
    <div class="footer-top">
        <div class="container text-center">
            <div class="logo-icon"><img class="img-fluid" src="{% static 'images/presets/preset1/logo-icon.png' %}"
                                        alt=""/></div>
        </div>
    </div>
    <div class="footer-menu">
        <div class="container">
            <ul class="nav navbar-nav">
                <li><a href="{% url 'articles:home' %}">Home</a></li>
                <li><a href="{% url 'articles:about' %}">About</a></li>
                <!--<li><a href="#">Career</a></li>-->
                <li><a href="{% url 'articles:advert' %}">Advertisement</a></li>
                <li><a href="{% url 'articles:terms' %}">Terms of Use</a></li>
                <li><a href="{% url 'articles:contact_us' %}">Contact Us</a></li>
            </ul>
        </div>
    </div>
    <div class="bottom-widgets">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <div class="widget">
                        <h2>Category</h2>
                        <ul>
                            {% if categories %}
                               {% for cat in cate_1 %}
                            <li><a href="{% url 'articles:list' cat.name %}">{{ cat.name |capfirst  }}</a></li>
                              {% endfor %}
                        {% endif %}
                        </ul>
                        <ul>
                            {% if categories %}
                               {% for cat in cate_2 %}
                            <li><a href="{% url 'articles:list' cat.name %}">{{ cat.name |capfirst  }}</a></li>
                              {% endfor %}
                        {% endif %}
                        </ul>
                    </div>
                </div>

                <div class="col-md-5">
                    <div class="widget">
                        <h2>Tag</h2>
                        <ul>
                            <li><a href="#">Gallery</a></li>
                            <li><a href="#">Sports</a></li>
                            <li><a href="#">Featured</a></li>
                            <li><a href="#">World</a></li>
                            <li><a href="#">Fashion</a></li>
                        </ul>
                        <ul>
                            <li><a href="#">Environment</a></li>
                            <li><a href="#">Health</a></li>
                            <li><a href="#">Entertainment</a></li>
                            <li><a href="#">Lifestyle</a></li>
                            <li><a href="#">Business</a></li>
                        </ul>
                        <ul>
                            <li><a href="#">Tech</a></li>
                            <li><a href="#">Movie</a></li>
                            <li><a href="#">Music</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="widget">
                        <h2>Featured</h2>
                        <ul>
                            <li><a href="#">UK News</a></li>
                            <li><a href="#">US News</a></li>
                            <li><a href="#">Climate</a></li>
                            <li><a href="#">Offbeat</a></li>
                            <li><a href="#">Health</a></li>
                        </ul>
                    </div>
                </div>
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div>
    <div class="footer-bottom">
        <div class="container text-center">
            <p><a href="#" style="font-weight:bold;">&copy; Copyright 2017 - {% now "Y" %}</a> | <a href="{% url 'articles:home' %}" style="font-weight:bold;"> Hipsterblog.com.ng</a> | <a href="#" style="font-weight:bold;">All Right Reserved</a> </p>
        </div>
    </div>
</footer>

	<!--/#scripts-->
    <script data-cfasync="false" src="{% static 'cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js' %}"></script><script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
	<script src="{% static 'js/owl.carousel.min.js' %}"></script>
	<script src="{% static 'js/moment.min.js' %}"></script>
	<script src="{% static 'js/jquery.sticky-kit.min.js' %}"></script>
	<script src="{% static 'js/jquery.easy-ticker.min.js' %}"></script>
	<script src="{% static 'js/jquery.subscribe-better.min.js' %}"></script>
	<script src="{% static 'js/theia-sticky-sidebar.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/switcher.js' %}"></script>
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','../../../www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-73239902-1', 'auto');
	  ga('send', 'pageview');
	</script>
</body>
</html>