{% extends 'log_reg_base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<!-- signup-page -->
		<div class="signup-page">
			<div class="container">
				<div class="row">
					<!-- user-login -->
					<div class="col-lg-6 offset-lg-3">
						<div class="ragister-account account-login">
							<h1 class="section-title title">User Login</h1>
							<!--<div class="login-options text-center">
								<a href="#" class="facebook-login"><i class="fa fa-facebook"></i> Login with Facebook</a>
								<a href="#" class="twitter-login"><i class="fa fa-twitter"></i> Login with Twitter</a>

							</div>
							<div class="devider text-center">Or</div>-->
							<form id="registation-form" name="registation-form" method="POST">
                                {% csrf_token %}
                                {{ form | crispy }}
                                <!-- checkbox -->
								<div class="checkbox">
									<label class="pull-left"><input type="checkbox" name="signing" id="signing"> Keep Me Login </label>
									<a href="#" class="pull-right ">Forgot Password </a>
								</div><!-- checkbox -->
								<div class="submit-button text-center">
									<button type="submit" class="btn btn-primary">Account Login</button>
								</div>
							</form>
							<div class="new-user text-center">
								<p>Don't have an account ? <a href="/register">Register Now</a></p>
							</div>

						</div>
					</div><!-- user-login -->
				</div><!-- row -->
			</div><!-- container -->
		</div><!-- signup-page -->
{% endblock %}





