{% extends 'log_reg_base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
	<!-- signup-page -->
		<div class="signup-page">
			<div class="container">
				<div class="row">
					<!-- user-login -->
					<div class="col-lg-6 offset-lg-3">
						<div class="ragister-account">
							<h1 class="section-title title">Create an Account</h1>

							<form id="registation-form" name="registation-form" method="POST">
                                {% csrf_token %}
                                {{ form | crispy }}
                                <!-- checkbox -->
								<div class="checkbox">
									<label class="pull-left" for="signing"><input type="checkbox" name="signing" id="signing"> I agree to our Terms and Conditions </label>
								</div><!-- checkbox -->
								<div class="submit-button text-center">
									<button type="submit" class="btn btn-primary">Register</button>
								</div>
							</form>
						</div>
					</div><!-- user-login -->
				</div><!-- row -->
			</div><!-- container -->
		</div><!-- signup-page -->
    {% endblock %}
