{% extends 'base_sample.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
		<div class="container">
			<div class="page-breadcrumbs">
				<h1 class="section-title title">Terms of Use</h1>
			</div>
			<div class="about-us welcome-section">
				<div class="row">
					<div class="col-lg-6 content-section">
						<div class="about-us-content">
							<h2>Important Legal Notice</h2>
							<p>The terms and conditions set out below (the “Terms of Use”) apply to your use of the website and to any email correspondence between us and you (“you”, the “user”)
							<p>The Website is the official website of HipsterblogNews Media Company and is owned and operated HipsterblogNews. If you have any comments or questions about the Website or any of our services please contact us.</p>
                            <p>If any part of these Terms of Use are found unlawful or unenforceable, they will be deemed deleted. Nothing shall affect the validity of the rest of the terms and conditions they will continue to apply to you. We are free to transfer our rights and obligations under these Terms of Use to any company or person. You must not transfer any of your rights or obligations to anyone else.</p>
						 	<p>These Terms of Use are subject to English law and, by using the Website, you hereby submit to the exclusive jurisdiction of the English courts save that the Club shall be entitled to commence and/or defend proceedings in any territory to protect its intellectual property rights or confidential information in that territory.</p>
						</div>
					</div>
					<div class="col-lg-6 image-section">
						<div class="about-us-image">
							<img class="img-fluid"  style="max-height:455px; min-width:100%;" src="{% static 'images/others/terms.jpg' %}" alt="" />
						</div>
					</div>
				</div>
			</div>
			<div class="about-us">
				<div class="row">
					<div class="col-md-4">
						<div class="about-us-content">
							<h2>Website Availability</h2>
							<p>The Website is made available free of charge. You are responsible for making all arrangements necessary for you to have access to the Website and we make no guarantee that the Website or any content displayed on the Website will always be uninterrupted or error free, or that it will be secure or free from bugs or viruses. We reserve the right to suspend or withdraw the whole or any part of the Website at any time without notice and without incurring any liability.</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="about-us-content">
							<h2> Ownership of Materials and Licence Terms</h2>
                            <p>We are the owner or licensee of the Website and all content displayed on it and/or made available through our Newsletter services are protected by copyright and other intellectual property rights and laws throughout the world. Subject to these Terms of Use, you are permitted use any materials or content on these website as a reference, but not for any commercial.</p>
                        </div>
					</div>
					<div class="col-md-4">
						<div class="about-us-content">
							<h2> User Content</h2>
                            <p>If you make any comments on this website or send suggestions or materials to use or concerning the Website, our email services, you are granting to us a perpetual, royalty-free, non-exclusive, and irrevocable right and licence to use, reproduce, prepare derivative works based upon, distribute, perform or display such User Content, in whole or in part, in any form, media or technology known or hereafter developed; and you warrant that you have obtained all necessary licences and/or approvals in order to allow us to use.</p>
                        </div>
					</div>
				</div>
			</div>

			<div class="testimonials">
				<div id="testimonial" class="carousel carousel-fade slide" data-ride="carousel">
					<div class="carousel-inner">
						<div class="item carousel-item active">
							<img class="img-fluid img-circle" src="{% static 'images/others/martins.JPG' %}" alt="" />
							<h3>Temitope Martins<span>CEO/Developer, Hipterblog</span></h3>
							<h4>“We are working very hard to satisfy you ('our user') on this website, please make it easy for us to serve you more by adhere strictly with the Terms of Use provided on this website. Thanks!”</h4>
						</div>
						<!--<div class="item carousel-item">
							<img class="img-fluid img-circle" src="{% static 'images/others/member5.jpg' %}" alt="" />
							<h3>Adenitire Ayomide <span>Co-Developer, Leo Inc</span></h3>
							<h4>“Wow!! It's really awesome. Nice and Clean design.It's really impressive. I am really appreciate your project.”</h4>
						</div>-->
					</div>
				</div>
			</div><!-- testimonial -->
		</div><!--/.container-->
	</div><!--/#main-wrapper-->
{% endblock %}