{% extends 'base_sample.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container">
        <div class="page-breadcrumbs">
            <h1 class="section-title">{{ article.category_ref }}</h1>
           <!-- <div class="world-nav cat-menu">
                <ul class="list-inline">
                    <li class="active"><a href="#">Us</a></li>
                    <li><a href="#">Crime</a></li>
                    <li><a href="#">Local</a></li>
                    <li><a href="#">Offbet</a></li>
                    <li><a href="#">Openion</a></li>
                </ul>
            </div>-->
        </div>
        <div class="section">
            <div class="row">
                <div class="col-md-8 col-lg-9">
                    <div id="site-content" class="site-content">
                        <div class="row">
                            <div class="col">
                                <div class="left-content">
                                    <div class="details-news">
                                        <div class="post">
                                            <div class="entry-header">
                                                <div class="entry-thumbnail">
                                                    <video class="img-fluid" width="100%" height="100%"
                                                           poster="{{ article.video_poster.url }}" autoplay controls preload="none" >
                                                        <source src="{{ article.video_url }}" type="video/mp4">
                                                    </video>
                                                </div>
                                            </div>
                                             <h2 class="entry-title" style="color:#333; padding-left:10px; margin-bottom:0px; padding-right:10px;">
                                                {{ article.title }}
                                            </h2>
                                            <div class="entry-meta" style="padding-left:15px; padding-top:0px;">
                                                <ul class="list-inline">
                                                    <li class="posted-by" style="text-transform:capitalize;"><i class="fa fa-user-circle"></i> by <a
                                                            href="#"><i style="text-transform:capitalize; font-style: normal;">{{ article.author }}</i></a><span><img  style="width:30px; height:auto;" src="{% static 'images/presets/preset1/verifired.png' %}"
                                                        alt="logo"></span></li>
                                                    <li class="publish-date"><a href="#"><i
                                                            class="fa fa-clock-o"></i> {{ article.created_at |timesince }} ago</a></li>
                                                </ul>
                                            </div>
                                            <div class="post-content">
                                                <div class="entry-content" style="color:#333; font-size:18px;">
                                                    <p>{{ article.description }} </p>
                                                    <hr/>
                                                    <div class="sharethis-inline-share-buttons"></div>
                                                </div>
                                            </div>
                                        </div><!--/post-->
                                    </div><!--/.section-->
                                </div><!--/.left-content-->
                            </div>
                        </div>
                    </div><!--/#site-content-->

                     <div class="row">
                        <div class="col-sm-12">
                            <div class="post google-add">
                                <div class="add inner-add text-center">
                                    <a href="#"><img class="img-fluid" src="{% static 'images/post/google-add.jpg' %}"
                                                     alt=""/></a>
                                </div><!--/.section-->
                            </div><!--/.google-add-->

                            <div class="comments-wrapper">
                                <h1 class="section-title title">Comments</h1>
                                <ul class="media-list">
                                    {% for comment in comments %}
                                        <li class="media">
                                            <div class="media-left">
                                                <a href="#"><img class="media-object"
                                                src="{% static 'images/others/user-icon.png' %}" alt=""></a>
                                            </div>
                                            <div class="media-body">
                                                 <h2><a href="#" class="blockquote-footer">via {{ comment.email |truncatechars:10 }}</a></h2>
                                                <h3 class="date">{{ comment.timestamp | timesince }} ago </h3>
                                                        <p>{{ comment.content }}</p>
                                                <h3 class="child"><a>{% if comment.children.count <= 1 %}{{ comment.children.count }} Comment Reply {% else %} {{ comment.children.count }} Comment Replies {% endif %}
                                                    </a>| <a class="replay" href="#">Reply</a></h3>
                                                <div class="comment-reply" style="display:none;">
                                                    <form  method="POST" action=".">{% csrf_token %}
                                                    {{ comment_form | crispy}}
                                                      <input type="hidden" name="parent_id"  value="{{ comment.id }}">
                                                     <input type="submit" value="Reply" class="btn btn-warning">
                                                  </form>
                                                </div>
                                            </div>
                                        </li>
                                            {% for child_comment in comment.children %}
                                                <li class="media media-child" >
                                                        <div class="media-left">
                                                            <a href="#"><img class="media-object" src="{% static 'images/others/user-icon.png' %}" alt="Image"></a>
                                                        </div>
                                                        <div class="media-body">
                                                             <h2><a href="#" class="blockquote-footer">via {{ child_comment.email |truncatechars:10 }}</a></h2>
                                                              <h3 class="date">{{ child_comment.timestamp | timesince }} ago </h3>
                                                                    <p>{{ child_comment.content }}</p>
                                                        </div>
                                                    </li>
                                            {% endfor %}
                                    {% endfor %}
                                </ul>

                                <div class="comments-box">
                                    <h1 class="section-title title">Leave a Comment</h1>
                                        <form id="comment-form" name="comment-form" method="POST"
                                              action=".">{% csrf_token %}
                                            {{ comment_form | crispy}}
                                            <input type="submit" value="Post Comment" class="btn btn-default">
                                        </form>

                                </div>
                            </div>

                            <div class="section">
                                <h2 class="section-title">More on {{ article.category_ref }}</h2>
                                <div class="row">
                                        {% for article in related_post %}
                                    <div class="col-md-6 col-lg-4">
                                        <div class="post medium-post">
                                            <div class="entry-header">
                                                <div class="entry-thumbnail">
                                                    <img class="img-fluid" style="min-height:230px; max-height:230px; min-width:100%;" src="{{ article.image.url }}" alt=""/>
                                                </div>
                                            </div>
                                            <div class="post-content">
                                                <div class="entry-meta">
                                                    <ul class="list-inline">
                                                        <li class="publish-date"><a href="#"><i class="fa fa-clock-o"></i> {{ article.created_on }}</a></li>
                                                        <li class="views"><a href="#"><i class="fa fa-eye"></i> {{ article.viewcount }}</a>
                                                        </li>
                                                        <!--<li class="loves"><a href="like({{ article.id }})"><i
                                                                class="fa fa-heart-o"></i>{{ article.likecount }}</a></li>-->
                                                    </ul>
                                                </div>
                                                <h2 class="entry-title">
                                                    <a href="{{ article.get_absolute_url }}">{{ article.title }}</a>
                                                </h2>
                                            </div>
                                        </div><!--/post-->
                                    </div>
                                    {% endfor %}
                                   <!--<div class="col-md-6 col-lg-4">
                                        <div class="post medium-post">
                                            <div class="entry-header">
                                                <div class="entry-thumbnail">
                                                    <img class="img-fluid" src="images/post/6.jpg" alt=""/>
                                                </div>
                                            </div>
                                            <div class="post-content">
                                                <div class="entry-meta">
                                                    <ul class="list-inline">
                                                        <li class="publish-date"><a href="#"><i
                                                                class="fa fa-clock-o"></i> Nov 15, 2018 </a></li>
                                                        <li class="views"><a href="#"><i class="fa fa-eye"></i>15k</a>
                                                        </li>
                                                        <li class="loves"><a href="#"><i
                                                                class="fa fa-heart-o"></i>278</a></li>
                                                    </ul>
                                                </div>
                                                <h2 class="entry-title">
                                                    <a href="news-details.html">Our closest relatives aren't fans of
                                                        daylight saving time</a>
                                                </h2>
                                            </div>
                                        </div>
                                    </div>-->
                                </div>
                            </div><!--/.section -->
                        </div>
                    </div>
                </div><!--/.col-sm-9 -->

                <div class="col-md-4 col-lg-3 tr-sticky">
                    <div id="sitebar" class="theiaStickySidebar">
                        <div class="widget">
                            <div class="add featured-add">
                                <a href="#"><img class="img-fluid" src="{% static 'images/post/add/add1.jpg' %}"
                                                 alt=""/></a>
                            </div>
                        </div><!--/#widget-->

                        <div class="widget follow-us">
                            <h1 class="section-title title">Follow Us</h1>
                            <ul class="list-inline social-icons">
                               <div class="sharethis-inline-follow-buttons"></div>
                            </ul>
                        </div><!--/#widget-->

                        <div class="widget">
                            <h1 class="section-title title">This is Rising!</h1>
                            <ul class="post-list">
                                {% for obj in obj %}
                                    <li>
                                        <div class="post small-post">
                                            <div class="entry-header">
                                                <div class="entry-thumbnail">
                                                    <img class="img-fluid" src="{{ obj.image.url }}" alt=""/>
                                                </div>
                                            </div>
                                            <div class="post-content">
                                                <div class="video-catagory"><a href="#">{{ obj.category_ref }}</a></div>
                                                <h2 class="entry-title">
                                                    <a href="{{ obj.get_absolute_url }}">{{ obj.title }}</a>
                                                </h2>
                                            </div>
                                        </div><!--/post-->
                                    </li>
                                {% endfor %}
                            </ul>
                        </div><!--/#widget-->
                    </div><!--/#sitebar-->
                </div>
            </div>
        </div><!--/.section-->
    </div><!--/.container-->
    </div><!--/#main-wrapper-->
{% endblock %}
{% block js %}
    <script type="text/javascript">
            function like(article_id) {
                var data = {
                    'article': article_id,
                    'status': 'article'
                };
                $.get('{% url 'articles:option' 'like' %}', data)
                    .done(function (response) {
                        $('#like_id').text(response.like_count)
                    })
                    .fail(function (error) {

                    });
            }
    </script>
{% endblock %}